.header{
    background-color:orange;
    padding: 10px;
}
.header h1{
    text-align: center;
    color: white;
}
.main{
    margin: 30px;
}
.main, .main_div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 250px;
    height: auto;
    margin: 15px;
    box-shadow: 0px 9px 9px gainsboro;
}
img:hover{
    opacity: 0.7;
    cursor: pointer;
}
#total{
    width: 50px;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color: orange;
}
.main_div .content{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer footer{
    background-color: rgb(219, 151, 23);
    color: white;
    padding: 3px;
    text-align: center;
}